@model DeltaRHWeb.Models.EmpresaModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/style-view.css">
    <title>Delta RH</title>
</head>
<body>
    <main>
        <div id="container-view">
            <div id="container-abas">
                <a class="botao botao-infos">Informações da empresa</a>
                <a class="botao botao-aprovacoes">Aprovações</a>
                <a href="/Login/Sair" class="botao botao-sair">Sair</a>
            </div>
            <div class="container-infos-missao">
                <h2>Informações da empresa</h2>
                <div class="container-infos-gerais">
                    <form class="form-infos-gerais">
                        <section class="sec-info1">
                            <label for="razao_social">Razão Social</label>
                            <input id="razao_social" value="@Model.RazaoSocial" type="text" name="Razao-Social" readonly>
                            <label for="Telefone">Telefone</label>
                            <input id="Telefone" value="@Model.Telefone" type="text" name="Telefone" readonly>
                            <label for="Celular">Celular</label>
                            <input id="Celular" value="@Model.Telefone2" type="text" name="Celular" readonly>
                        </section>

                        <section class="sec-info2">
                            <label for="cidade">Cidade</label>
                            <input id="cidade" value="@Model.Cidade" type="text" name="cidade" readonly>
                            <label for="logradouro">Logradouro</label>
                            <input id="logradouro" value="@Model.Logradouro, @Model.Numero" type="text" name="logradouro" readonly>
                            <label for="Numero">Numero</label>
                            <input id="Numero" value="@Model.Numero" type="text" name="Numero" readonly>
                        </section>
                    </form>
                </div>
                <div class="txbox-missao">
                    <label for="texto">Missão, visão e valores</label>
                    <textarea id="texto" cols="30" rows="5" readonly wrap="hard">@Model.descricao_missao</textarea>
                </div>
                <div class="txbox-politica">
                    <label for="texto">Politica Disciplinar</label>
                    <textarea id="texto" cols="30" rows="5" readonly wrap="hard">@Model.descricao_politica</textarea>
                </div>
            </div>
            <div class="container-aprovacoes sumiu">
                <h2>Aprovações</h2>
                <div class="container-tabela">
                    <table class="tabela-aprovacoes" border="1">
                        <thead id="cabecalho-tabela">
                            <th>Relatório</th>
                            <th>Inicio</th>
                            <th>Fim</th>
                            <th>Valor Bruto</th>
                            <th>Total Descontos</th>
                            <th>Valor Liquido</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </thead>
                        <tbody id="conteudo-tabela">
                            
                            @foreach (var objeto in Model.Lista_folha)
                            {
                                <tr class="folha">

                                    <td><a href="/Login/DownloadDocumento/@objeto.id_folha" target="_blank"><i class="bi bi-filetype-xlsx"></i></a></td>
                                    <td>@objeto.Periodo_inicio.ToShortDateString()</td>
                                    <td>@objeto.Periodo_fim.ToShortDateString()</td>
                                    <td>@objeto.Valor_final</td>
                                    <td>@objeto.Valor_desconto_final</td>
                                    <td>@objeto.Valor_liq_final</td>
                                    <td class="status-item">@objeto.Status</td>
                                    <td class="acoes">
                                        <form method="post" action="/Login/AprovarFolha/@objeto.id_folha">
                                            <button class="botao-ap-rp botao-aprove" type="submit"><i class="bi bi-clipboard2-check"></i></button>
                                        </form>

                                        <form method="post" action="/Login/ReprovarFolha/@objeto.id_folha">
                                            <button class="botao-ap-rp botao-aprove" type="submit"><i class="bi bi-clipboard-x"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script src="~/js/script-view.js"></script>
</body>
</html>
